figure {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

figure img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

section {
    text-align: center;
    margin: 20px 0;
}

iframe {
    width: 90%;
    max-width: 600px;
    height: 300px;
    border: none;
    border-radius: 10px;
}

.texto {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 60px;
}

.carousel {
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: none;
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row {
    justify-content: center;
    /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap;
    /* Asegura que sean responsivas */
    gap: 20px;
    /* Espacio entre tarjetas */
}

@media (max-width: 768px) {
    article {
        padding: 0 20px;
        /* Añade 20px de espacio a los lados en pantallas pequeñas */
    }

    .texto {
        font-size: 16px;
        /* Ajusta el tamaño de la fuente si lo deseas */
        line-height: 1.5;
        /* Ajusta el interlineado para mejorar la legibilidad */
    }
}