<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{frontend/layout/base}">
<div layout:fragment="MainBase">
    <h3>Formación Académica</h3>
        <ul>
            <li><strong>Educación Secundaria Obligatoria (ESO):</strong> Instituto IES AZAHAR ANTAS, finalizado en 2019.</li>
            <li><strong>Técnico en Sistemas Microinformáticos y Redes (Grado Medio):</strong> Centro IES CURA VALERA, finalizado en 2023.</li>
            <li><strong>Certificación de Inglés B2:</strong> Cambridge Assessment English, obtenido en 2024.</li>
        </ul>

        <h3>Experiencia Profesional</h3>
        <p>
            Con más de 3 años de experiencia en el sector de la informática, he trabajado en diversas áreas como el 
            desarrollo de software, administración de sistemas y gestión de proyectos tecnológicos.
        </p>
        <ul>
            <li><strong>Sistema de Gestión de Inventarios:</strong> Desarrollo de una aplicación web con Python y Django.</li>
            <li><strong>Plataforma de E-learning:</strong> Implementada con React y Node.js.</li>
            <li><strong>Automatización de Procesos Empresariales:</strong> Optimización mediante scripts.</li>
            <li><strong>Aplicación Móvil para Gestión Personal:</strong> Creada en Flutter.</li>
        </ul>

        <h3>Habilidades</h3>
        <ul class="habilidades">
            <li>Programación: Python, JavaScript, Java.</li>
            <li>Desarrollo Web: HTML, CSS, React, Node.js.</li>
            <li>Base de Datos: MySQL, PostgreSQL, Firebase.</li>
            <li>Idiomas: Español (nativo), Inglés (B2 certificado).</li>
            <li>Gestión de Proyectos: Metodologías ágiles como SCRUM.</li>
        </ul>
</div>