<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{frontend/layout/base}">
<div layout:fragment="MainBase" class="container">
    <h3>Formación Académica</h3>
    <ul class="collection">
        <li class="collection-item"><strong>Educación Secundaria Obligatoria (ESO):</strong> Instituto IES AZAHAR ANTAS,
            finalizado en 2019.</li>
        <li class="collection-item"><strong>Técnico en Sistemas Microinformáticos y Redes (Grado Medio):</strong> Centro
            IES CURA VALERA, finalizado en 2023.</li>
        <li class="collection-item"><strong>Certificación de Inglés B2:</strong> Cambridge Assessment English, obtenido
            en 2024.</li>
    </ul>

    <h3>Experiencia Profesional</h3>
    <p>
        Con más de 3 años de experiencia en el sector de la informática, he trabajado en diversas áreas como el
        desarrollo de software, administración de sistemas y gestión de proyectos tecnológicos.
    </p>
    <ul class="collection">
        <li class="collection-item"><strong>Sistema de Gestión de Inventarios:</strong> Desarrollo de una aplicación web
            con Python y Django.</li>
        <li class="collection-item"><strong>Plataforma de E-learning:</strong> Implementada con React y Node.js.</li>
        <li class="collection-item"><strong>Automatización de Procesos Empresariales:</strong> Optimización mediante
            scripts.</li>
        <li class="collection-item"><strong>Aplicación Móvil para Gestión Personal:</strong> Creada en Flutter.</li>
    </ul>

    <h3>Habilidades</h3>
    <ul class="collection">
        <li class="collection-item">Programación: Python, JavaScript, Java.</li>
        <li class="collection-item">Desarrollo Web: HTML, CSS, React, Node.js.</li>
        <li class="collection-item">Base de Datos: MySQL, PostgreSQL, Firebase.</li>
        <li class="collection-item">Idiomas: Español (nativo), Inglés (B2 certificado).</li>
        <li class="collection-item">Gestión de Proyectos: Metodologías ágiles como SCRUM.</li>
    </ul>

    <h3>Idiomas:</h3>
    <p>Ingles</p>
    <div class="progress">
        <div class="determinate" style="width: 70%"></div>
    </div>
    <p>Frances</p>
    <div class="progress">
        <div class="determinate" style="width: 30%"></div>
    </div>
</div>

</html>