<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{frontend/layout/base}">
<div layout:fragment="MainBase">
    <h3>Experiencia en el sector profesional de la informática</h3>
        <p>
            He trabajado durante varios años en proyectos de desarrollo de software,
            gestión de sistemas y diseño de soluciones tecnológicas.
        </p>

        <h3>Proyectos realizados</h3>
        <ul>
            <li><strong>Sistema de Gestión de Inventarios:</strong> Aplicación con Python y Django.</li>
            <li><strong>Plataforma de E-learning:</strong> React y Node.js.</li>
            <li><strong>Automatización de Procesos Empresariales:</strong> Scripts para optimización.</li>
            <li><strong>Aplicación Móvil para Gestión Personal:</strong> Desarrollo en Flutter y Firebase.</li>
        </ul>
</div>