<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{frontend/layout/base}">
<div layout:fragment="MainBase">
    <!-- Contenido principal -->
     <link rel="stylesheet" href="../css/index.css">
    <figure>
        <img src="../imagenes/IMG_1216.jpg" alt="Foto de Jose">
    </figure>
    
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d203265.30209134918!2d-2.259458310051265!3d37.24722476020597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7ad2f2238a6257%3A0x403d278a575deb0!2zQW50YXMsIEFsbWVyw61h!5e0!3m2!1ses!2ses!4v1706532546785!5m2!1ses!2ses"
            style="border:0;" allowfullscreen="">
        </iframe>
    </section>
    
    <article>
        <p class="texto">
            Muy buenas, mi nombre es Jose Rodríguez Rodríguez, tengo 18 años y vivo en Antas.<br>
            Esto es un portfolio mío personal, presentando mi currículum a las distintas empresas<br>
            que vean este portfolio. Algunos de mis hobbies son: salir con mis amigos, estar con la familia,<br>
            el fútbol y, claramente, la informática. Soy una persona totalmente cualificada, con mis estudios y<br>
            varios idiomas (como inglés, francés...)<br>
        </p>
    </article>

</div>