<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{frontend/layout/base}">

<body>
    <div layout:fragment="MainBase">
        <section class="container">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Preguntas Frecuentes</h4>
                </li>
                <li class="collection-item">¿Quién eres y cuál es tu experiencia profesional?</li>
                <li class="collection-item">¿Qué habilidades técnicas posees?</li>
                <li class="collection-item">¿Cuál es tu formación académica?</li>
                <li class="collection-item">¿Qué proyectos has realizado hasta ahora?</li>
                <li class="collection-item">¿Qué idiomas hablas y en qué nivel?</li>
                <li class="collection-item">¿Qué te motiva a trabajar en este campo?</li>
                <li class="collection-item">¿Cuál es tu objetivo profesional a largo plazo?</li>
                <li class="collection-item">¿Estás abierto/a a trabajos remotos o presenciales?</li>
                <li class="collection-item">¿Cómo gestionas el trabajo en equipo?</li>
                <li class="collection-item">¿Dónde se pueden encontrar más detalles sobre tu experiencia?</li>
            </ul>
        </section>
    </div>
</body>

</html>