<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{frontend/layout/base}">
<div layout:fragment="MainBase">
    <section>
        <ul class="preguntas">
            <li>¿Quién eres y cuál es tu experiencia profesional?</li>
            <li>¿Qué habilidades técnicas posees?</li>
            <li>¿Cuál es tu formación académica?</li>
            <li>¿Qué proyectos has realizado hasta ahora?</li>
            <li>¿Qué idiomas hablas y en qué nivel?</li>
            <li>¿Qué te motiva a trabajar en este campo?</li>
            <li>¿Cuál es tu objetivo profesional a largo plazo?</li>
            <li>¿Estás abierto/a a trabajos remotos o presenciales?</li>
            <li>¿Cómo gestionas el trabajo en equipo?</li>
            <li>¿Dónde se pueden encontrar más detalles sobre tu experiencia?</li>
        </ul>
</div>