<footer class="page-footer orange" th:fragment="FooterBase">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Portfolio de José Rodríguez Rodríguez</h5>
        <p class="grey-text text-lighten-4">Hola, me llamo Jose Rodríguez Rodríguez, tengo 18 años y vivo en Antas.
          Esto es un portfolio personal, presentando mi currículum a empresas. Algunos de mis hobbies son: Disfrutar con
          Amigos, la Familia,
          el Fútbol y la Informática. Soy una persona totalmente cualificada, con mis estudios y varios idiomas (como
          inglés, francés...)</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Sígueme en mis redes</h5>
        <ul>
          <li><a class="grey-text text-lighten-3"
              href="https://www.facebook.com/share/1BwAUbfEJ8/?mibextid=wwXIfr">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/josee__rodriiguez/">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="https://x.com/JosRodrgue77180">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>